* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 20%;
}

.btn {
    width: 200px;
    padding: 20px;
    margin: 20px 5px;
    font-size: 15px;
    cursor: pointer;
}